{% extends 'base.html' %}

{% block title %}
Create an Account
{% endblock %}

{% block content %}
<div>
    <h3>Sign Up</h3>
    <form method="post" id="register-form">
        {{ form.hidden_tag() }}
        {% for field in form if field.widget.input_type != 'hidden' %}
        <p>
            {{ field.label }}
            {{ field }}

            {% for error in field.errors %}
            {{ error }}
            {% endfor %}
        </p>
        {% endfor %}
        <a href="/login"></a>
        <button type="submit">Register</button>
    </form>
</div>
{% endblock %}